{
  "name": "Parse Dashboard Example",
  "description": "An example Parse Dashboard server using the parse-dashboard module",
  "repository": "URL of the repository",
  "logo": "https://avatars2.githubusercontent.com/u/5217007?v=3&u=52845c74db401e9fc5df5673460f4d6835a6118a&s=200",
  "keywords": ["node", "express", "parse", "dashboard"],
  "env": {
    "APP_ID": {
      "description": "A unique identifier for your app.",
      "value": "some-unique-identifier"
    },
    "MASTER_KEY": {
      "description": "A key that overrides all permissions. Keep this secret.",
      "value": "somemasterkeyhere"
    },
    "SERVER_URL": {
      "description": "URL to connect to your Heroku instance (update with your app's name + PARSE_MOUNT)",
      "value": "https://your-parse-dashboard-url/parse"
    },
    "APP_NAME": {
      "description": "The name of the app that will show up in the dashboard.",
      "value": "Your App Name"
    }
  },
  "image": "heroku/nodejs"
}
